<footer class="text-center">
    <div class="container text-center my-4">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://manic-melancholia.itch.io/" target="_blank">
                            <i class="fab fa-itch-io"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCxuAF-i8HM4YXwOIORSgeKw" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/____Manic____" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:manicgamesstudio@gmail.com                        ">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>