{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="mb-4">Contact Us</h1>
        <!--
        <p>If you have any questions or would like to reach out to us, please use the contact form below or send an
            email to <a class="text-wrap" href="mailto:manicgamesstudio@gmail.com">manicgamesstudio@gmail com</a>.
        </p>
        -->
        <p>
            Wanna shoot the breeze or throw down some thoughts? Hit us up using that contact form down below or throw an email our way at <a class="text-wrap" href="mailto:manicgamesstudio@gmail.com">manicgamesstudio@gmail.com</a>.
        </p>

        <form class="my-5 py-5" method="POST" action="/contact">
            <div class="row">
                <div class="col-6">
                    <label for="name" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="col-6">
                    <label for="email" class="form-label">Your Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-12">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                </div>
            </div>
            <button type="submit" class="btn my-5 btn-pink">Send Message</button>
        </form>

    </div>
</div>

{% endblock %}